.st0 {
  font-family: 'Georgia';
}
.st1 {
  font-size: 12px;
}
.st2 {
  fill: #424b4c;
}
.st3 {
  font-family: 'Georgia-Bold';
}
.st4 {
  font-size: 11.6952px;
}
.st5 {
  fill: #d5af85;
}
.st6 {
  font-size: 30px;
}
.st7 {
  font-size: 11px;
}
.st8 {
  fill: #f8c7c8;
}
.st9 {
  fill: none;
  stroke: #414659;
  stroke-width: 0.5384;
  stroke-miterlimit: 10;
}
.st10 {
  fill: none;
  stroke: #f8c7c8;
  stroke-miterlimit: 10;
}
.st11 {
  font-size: 26px;
}
.st12 {
  font-size: 22px;
}
.st13 {
  font-size: 17px;
}
.st14 {
  font-size: 32px;
}
.st15 {
  font-size: 13px;
}
.st16 {
  font-family: 'Georgia-Italic';
}
.st17 {
  fill: #9d9d9c;
}
.st18 {
  font-size: 37.3751px;
}
.st19 {
  fill: none;
}
.st20 {
  font-size: 10px;
}
.st21 {
  font-size: 40.3834px;
}
.st22 {
  font-family: 'ArialMT';
}
.st23 {
  fill: none;
  stroke: #9d9d9c;
  stroke-miterlimit: 10;
}
.st24 {
  font-size: 29.7324px;
}
.st25 {
  fill: #b2b2b2;
}
