.st0 {
  fill: none;
}
.st0,
.st1,
.st2,
.st3,
.st4,
.st5,
.st6,
.st7 {
  stroke: #1d1d1b;
  stroke-miterlimit: 10;
}
.st1 {
  fill: #f9b233;
}
.st2 {
  fill: #fff;
}
.st3 {
  fill: #dae49b;
}
.st4 {
  fill: #a6d0d1;
}
.st5 {
  fill: #bde3f4;
}
.st6 {
  fill: #ffed00;
}
.st7 {
  fill: #e6007e;
}
.st8 {
  fill: #e30613;
}
.st9 {
  font-family: 'Arial-BoldMT';
}
.st10 {
  font-size: 4.97px;
}
.st11 {
  fill: #1d1d1b;
}
.st12 {
  font-family: 'MyriadPro-Regular';
}
.st13 {
  font-size: 12.91px;
}
.st14 {
  font-size: 10px;
}
