.st0 {
  fill: #020203;
}
.st1 {
  fill: #ffffff;
}
.st2 {
  font-family: 'MyriadPro-Regular';
}
.st3 {
  font-size: 22px;
}
.st4 {
  fill: none;
  stroke: #020203;
  stroke-width: 4;
  stroke-miterlimit: 10;
}
.st5 {
  font-size: 20.2125px;
}
